@model BookARoom.Infra.Web.ViewModels.BookingRequestViewModel
@{
    ViewData["Title"] = "Room booked";
}
<br />
<br />
<h2>Your reservation has been taken into account.</h2>
You will received a confirmation e-mail in few seconds.
<br/>
<br/>
You can consult all your booking reservations in the <a href="MyReservations">"My Reservations"</a> section of the site.
<br/>
<br/>
<strong>BookARoom</strong> wish you an happy journey at the @Model.HotelName.