@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>BookARoom is a <strong>fake application to illustrate CQRS</strong> (without Event Sourcing) during a MS experiences conference.</p>
