@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong>Thomas PIERRAIN (<strong><a href="https://twitter.com/tpierrain">use case driven</a></strong> on twitter)<br />
    <strong>Code source:</strong> <a href="https://github.com/tpierrain/CQRS">https://github.com/tpierrain/CQRS</a><br />
</address>
