@model BookARoom.Infra.Web.ViewModels.SearchRoomQueryViewModel
@{
    ViewData["Title"] = "Home Page";
}
<img src="images/bookARoom.gif" alt="Book a Room"/>

<h2>Let’s find you a hotel to stay!</h2>

<form method="post">
    <div><label>Destination: </label><input asp-for="Destination" type="text" /></div>
    <div>
        <span><label asp-for="CheckInDate">Check-in: </label><input asp-for="CheckInDate" name="checkInDate" type="date" /></span>
        <span><label asp-for="CheckOutDate">Check-out: </label><input asp-for="CheckOutDate" name="checkOutDate" type="date" /></span>
    </div>
    <div><label>Adult Count: 2</label></div>
    <div><input type="submit" value="Search" /></div>
</form>