body {
    background-color: #f0ecec;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    border: thin solid #2f4f4f;
    background-color: #ffffff;
    max-width: 380px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px;
}

a.button, button, input[type="submit"]{
 cursor:pointer;
    padding: 8px;
 background-color:  #ec1414;
    border-style: solid;
    border-color: #c21212;
    color: #ffffff;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

table {
border: medium solid #c21212;
border-collapse: collapse;
}

td {
border: thin solid #c21212;
padding: 20px;
text-align: center;
background-color: #ffffff;
}

th {
border: thin solid #c21212;
background-color: #ec1414;
padding: 10px;
text-align: center;
color: #ffffff;
}
